:root {
	--clr-black: hsl(0, 0%, 8%); /* Hex  #151515 */
	--clr-grey-dark:hsl(0, 0%, 14%); /* Hex  #242424 */
	/* --clr-grey: hsl(153, 71%, 59%);  Hex  #4EE1A0 
	--clr-green: hsl(0, 0%, 85%); Hex  #D9D9D9 */
	--clr-white: hsl(0, 0%, 100%); /* Hex  #FFF */

/* GK Blog Colours */
  --clr-gk-accent-pink: hsl(337, 74%, 45%); /* hex: #c71e5f */
  --clr-gk-accent-orange: hsl(16, 69%, 42%); /* hex: #b44821 */
  --clr-gk-gradient: linear-gradient(239deg, rgba(199,30,95,1) 0%, rgba(180,72,33,1) 60%);


	--ff-default: 'Space Grotesk', sans-serif;

	--fw-700: 700;
	--fw-400: 400;

	--fs-xlarge: 5.5rem; /* 88px */
	--fs-large: 3.5rem; /* 56px */
	--fs-medium: 1.5rem; /* 24px */
	--fs-regular: 1.125rem; /* 18px */
  --fs-small: 0.9rem; /* Xpx */

}

body {
  font-family: var(--ff-default);
  font-weight: var(--fw-400);
  font-size: var(--fs-regular);
  line-height: 1.5;
  color: var(--clr-white);
  background-color: var(--clr-black);
}

h1 {
  color: var(--clr-white);
}
h1, 
h2 {
  text-align: center;
}

footer {
  background-color: var(--clr-black);
}

ul {
  list-style: none;
  text-align: left;
  font-size: var(--fs-small);
}

.app-container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 2.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.section--socials {
  align-items: center;
  padding: 2rem 0;
}

.div--social-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.section--building-in-public {
  color: var(--clr-gk-accent-pink);
  text-align: center;
}

.project-card {
  padding-top: 2rem;
}

.card--image {
  max-height: 14rem;
}

.link--project {
  color: var(--clr-gk-accent-pink);
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 0.28rem solid var(--clr-gk-accent-pink);
  line-height: 2.5rem;
}

.link--project:hover {
  border-bottom: 0.28rem solid var(--clr-gk-accent-orange);
  color: white;
  transform: scale(1.5);
  transition: all 2s ease-in-out;
}

.link--project:active, .link--project:focus {
  border-bottom: 0.28rem solid var(--clr-gk-accent-orange);
  color: var(--clr-gk-accent-orange);
  transform: scale(2.5);
  transition: all 2s ease-in-out;
}

.link--socials {
  color: var(--clr-gk-accent-pink);
  text-decoration: none;
  line-height: 2.5rem;
}

.link--socials:hover {
  background-color: var(--clr-gk-accent-orange);
  transform: scale(1.5);
  transition: all 2s ease-in-out;
}

.link--socials:active, .link--socials:focus  {
  background-color: var(--clr-gk-accent-pink);
  transform: scale(2.1);
  transition: all 2s ease-in-out;
}

.parent-element {
  margin: 0 auto;
  /* grid-column: 1;
  grid-row: 5 / span 1; */
}

/* UTILITY CLASSES */

.text--align-center {
  text-align: center;
}

.h2--border-bottom-orange:after {
  content: ""; 
  display: block; 
  margin: 0 auto; /* This will center the border. */
  width: 40%; 
  padding: 0 0 .25rem 0; /* This creates some space between the element and the border. */
  border-bottom: 0.28rem solid var(--clr-gk-accent-orange); /* This creates the border. Replace black with whatever color you want. */
}
.text--pink {
  color: var(--clr-gk-accent-pink);
}

.text--uppercase {
  text-transform: uppercase;
}

.section--padding-top {
  padding-top: 2rem;
}

.padding-top-1rem {
  padding-top: 1rem;
}

.margin--bottom-1rem {
  margin-bottom: 1rem;
}

.text--align-left {
  text-align: left;
}

.fs--1-5rem {
  font-size: 1.5rem;
}

.responsive-two-columns {
  display: grid;
}

.responsive-two-columns > * {
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .app-container {
    min-width: 768px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    /* border: 1px solid var(--clr-gk-accent-orange); */
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: relative;
  }
  .img-hero {
    max-width: auto;
    max-height: 14rem;
    order: -1;
    border-radius: 50%;
  }

  .header-text {
    margin-left: 2rem;
    order: -2;
  }
  .header-text p, .header-text h1 {
    /* max-width: 50%; */
    justify-content: left;
    text-align: left;
  }
  .header-text h1 {
    font-size: 2.75rem;
  }

  .responsive-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* border: 1px solid var(--clr-white); */
}

  .section--stack-and-tools {
    padding: 1.25rem 0;
  }
  .container--stack-and-tools {
    /* border: 1px solid var(--clr-gk-accent-pink); */
     
  }
  .container--stack-and-tools > p {
    max-width: 41rem;
  }
}

@media screen and (min-width: 900px) {
  .app-container {
    min-width: 900px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    /* border: 1px solid var(--clr-gk-accent-orange); */
  }

  .responsive-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* border: 1px solid var(--clr-white); */
}
}

.temp--padding-top-bottom-1-25rem {
  padding: 1.25rem 0;
  /* This is a temporary class to help visualize things while working on the functionality. */
}